# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/.idea/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/flutter_export_environment.sh

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# VS Code / IntelliJ
.idea/
.vscode/

# Secrets
*.env
*.keystore
key.properties
